.box{
  height: 100px;
  width: 300px;
  background-color: rgb(153, 14, 37);

   /*Actual calling of ColorAnimation*/
  animation-name: ColorAnimation ;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-direction: normal;
  animation-iteration-count: 3;

  /* animation: widthAnimation 2s ease-in 1s 4 alternate forwards; */
  
}
h1{
  /*Actual calling of fontAnimation*/
  animation-name: fontAnimation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 4;
  animation-direction: alternate-reverse;
}

/*Blueprint for Animation not the actual implementation we implements multiple things at a time like size and color we also implements multiple things on the same elements or container*/
@keyframes fontAnimation {
  from {font-size: 20px;
        color: darkgoldenrod;}
  to{font-size: 60px;
  color: indigo;}
  
}
/*Blueprint for Animation not the actual implementation*/
@keyframes ColorAnimation{
  /* from {background-color: lime;}
  to{background-color:darkmagenta;} */

  /*implementing % in Animation*/
  0% {
    background-color: brown;
  }
  50% {
    background-color: aqua;
  }
  75% {
    background-color: yellow;
  }
  100%  {
    background-color: darkgrey;
  }
}

/*Blueprint for Animation not the actual implementation*/
@keyframes widthAnimation {
  from {width: 10px;}
  to{width: 400px;}
}
