.container{
  width: 600px;
  height: 300px;
  background-color: black;
  /* display: grid; */

  display: inline-grid; 
  /* grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-columns: 200px 200px 200px; */
  /* grid-template-columns: auto auto; */
  
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-rows: 1fr 1fr 1fr;  other ways to write the repeat(3, 1fr*/
  grid-template-columns: repeat(3, 1fr);

  row-gap: 10px;
  column-gap: 10px;

  /*Common properties*/
  /* justify-items: start; */
  /* justify-items: end; */
  /* justify-items: center; */

  /* align-items: start; */
  /* align-items: end; */
  /* align-items: center; */

  place-items: center;
  /* place-items: start; */
  /* place-items: end; */
 
}

.itmes{
  width: 100px;
  height: 50px;
  background-color: lime;
  border: 2px solid black;
  text-align: center;
}


.one{
  /* grid-column-start: 1;  */
  /* grid-column-end: 3; */ 

  /* grid-column: 1/3; */

  /* grid-column: 1/ span 3; */
  /* justify-self: end; */

  /* align-self: start; */
  /* align-self: end; */
  /* align-self: center; */

  /* place-self: center; */
  /* place-self: start; */
  place-self: end;
}

/* 
.two{
  /* grid-row-start: 1;
  grid-row-end: 3; */

  /* grid-row: 1/4; */
  /* grid-row: 2/span 3;
 } */

