.box{
  height: 150px;
  width: 150px;
  border: 2px solid black;
  background-color: aqua;
}

.one{
  background-color: lime;
}
.two{
  background-color: yellow;
  position: relative;
  bottom: 50px;/
}
.one{
  position: relative;
  top: 70px;
}