div{
  width: 600px;
  height: 300px;
  background-color: lime;
  margin: 10px auto;
  background-image: url("senary.jpg");
  background-size: contain;
  /* background-size: cover; */
  /* background-size: auto; */
  color: white;
}
