.card{
  width: 200px;
  height: 100px;  
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 4px 10px black; 
  transition: 1s;
}

.desc{
  padding: 0 2px 0 2px;
}
img{
  width: 100%;
  border-radius: 5px 5px 0 0;
  border: 2px solid black; 
}

.card:hover{
  box-shadow: 4px 28px 40px black;
  width: 400px;
  height: 200px;
}