div{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: lime;
  margin: 20px;
  display: inline-block;
  text-align: center;
}

#static{
  background-color: yellow;
  position: static;
  top: 100px;
  left: 100px;
}

#relative{
  background-color: yellow;
  position: relative;
  top: 100px;
  left: 100px;
}

#absolute{
  background-color: yellow;
  position: absolute;
  top: 100px;
  left: 100px;
}

#fixed{
  background-color: pink;
  position: fixed;
  top: 60px;
  left: 69px;
}