.face{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: #ffa511;
}

#left-eye, #right-eye{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 100px;
}
#right-eye{
  left: 250px;

}

#mouth{
  height: 80px;
  width: 200px;
  background-color: red;
  position: absolute;
  top: 250px;
  left: 100px;
  border-radius: 0 0 40px 40px;
}