section{
  margin-top: 200px;
}
div{
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #2424e9ff;
  border: 2px solid lime;
  margin: 10px auto;
}

div:nth-of-type(2n){
  background-color: #ff00ff;
}

div:nth-of-type(3n){
  background-color: yellow;
}

/*transform*/

/*rotate*/
#one{
  transform: rotate(32deg);
}

/*Scale*/
#two{
  transform: scale(2, 1);
}

/*translate mtlb move krna x or y axis ke*/
#three{
  transform: translateX(100px);
}   
/*Skew*/
#four{
  transform: skew(30deg);
}

/*All transform in id five*/
#five{
  transform: rotate(30deg) translateX(200px);
  
}