#outer{
  height: 400px;
  width: 400px;
  border: 2px solid black;
  background-color: aqua;
  font-size: 20px;
}

#inner{
  height: 100px;
  width: 100px;
  border: 3px solid lime;
  background-color: red;
  font-size: 1.5em; /* this is the relative to #outer front size as the size becomes 1.5 time larger then the #outer font size */
  padding: 1em; /* The padding is related to #inner font size hence the padding will be of 30px becz #inner font size is 1.5em of #outer font size which is 20px */
}

button{
  font-size: 50px;
  border: 5px solid lime;
  border-radius: 15px;
  /*Now the left and right padding is depends upon font-size of button as font-size increases or decrease the padding will adjust itself*/
  padding-left: 1em;
  padding-right: 1em;
}