h1{
  border: 2px solid lime;
  width: 33.33%;
}
#outer{
  background-color: aqua;
  height: 400px;
  width:400px;
}
#inner{
  background-color: lime;
  height: 100px;
  width: 100px;
  margin: 10%;
}