#container{
  height: 600px;
  width: 50%;
  background-color: rgb(159, 239, 245);
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse;
   flex-direction: column; */
  flex-direction: row;

  justify-content: flex-start;
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */

  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */

/* justify-content: center ; */
  /* justify-content: flex-end; */
  /* justify-content: flex-start;
  justify-content: baseline; */

  align-content: flex-start; 
  /* align-content: flex-end ; */
  /* align-content: center; */

  /* align-content: space-around; */
  /* align-content: space-between; */
  /* align-content: space-evenly; */
  /* align-content: baseline; */
}

#org{
  /* align-self: flex-start; */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* flex-basis: 50px; */
  /* flex-grow: 3; */
  flex: 2 2 100px;
}
h1{
  text-align: center;
}
#container div{
  height: 100px;
  width: 300px;
  text-align: center;
  color: white;
  font-size:  1.5em;
}

#blue{
  /* flex-basis: 400px; */
  /* flex-grow: 1; */
  /* max-width: 200px;
  min-width: 199px;
} */
 flex-shrink: 1;
}